@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Figtree Variable';

  /* primary */
  --color-primary-50: 244 247 255;
  --color-primary-100: 226 236 255;
  --color-primary-200: 187 208 254;
  --color-primary-300: 145 179 254;
  --color-primary-400: 102 146 253;
  --color-primary-500: 60 110 249;
  --color-primary-600: 26 69 236;
  --color-primary-700: 12 40 190;
  --color-primary-800: 5 23 128;
  --color-primary-900: 1 8 67;
  --color-primary-950: 0 2 32;

  --color-primary-main: var(--color-primary-600);
  --color-primary-active: var(--color-primary-500);
  --color-primary-foreground: var(--color-primary-50);

  /* neutral */
  --color-neutral-50: 246 247 250;
  --color-neutral-100: 233 235 241;
  --color-neutral-200: 202 209 222;
  --color-neutral-300: 171 181 200;
  --color-neutral-400: 141 152 176;
  --color-neutral-500: 113 124 148;
  --color-neutral-600: 87 97 118;
  --color-neutral-700: 62 71 88;
  --color-neutral-800: 39 45 57;
  --color-neutral-900: 16 20 27;
  --color-neutral-950: 4 6 9;

  --color-neutral-main: var(--color-neutral-600);
  --color-neutral-active: var(--color-neutral-500);
  --color-neutral-foreground: var(--color-neutral-50);

  /* danger */
  --color-danger-50: 255 245 243;
  --color-danger-100: 255 228 225;
  --color-danger-200: 255 190 184;
  --color-danger-300: 254 145 136;
  --color-danger-400: 252 87 84;
  --color-danger-500: 228 26 43;
  --color-danger-600: 181 15 31;
  --color-danger-700: 135 8 20;
  --color-danger-800: 90 3 10;
  --color-danger-900: 45 1 3;
  --color-danger-950: 19 0 1;

  --color-danger-main: var(--color-danger-500);
  --color-danger-active: var(--color-danger-400);
  --color-danger-foreground: var(--color-danger-50);

  /* secondary */
  --color-secondary-50: 232 255 232;
  --color-secondary-100: 191 255 192;
  --color-secondary-200: 51 249 87;
  --color-secondary-300: 43 216 75;
  --color-secondary-400: 39 182 63;
  --color-secondary-500: 32 149 52;
  --color-secondary-600: 24 117 39;
  --color-secondary-700: 16 85 27;
  --color-secondary-800: 7 55 15;
  --color-secondary-900: 2 26 4;
  --color-secondary-950: 0 8 1;

  --color-secondary-main: var(--color-secondary-500);
  --color-secondary-active: var(--color-secondary-400);
  --color-secondary-foreground: var(--color-secondary-50);

  --color-background: 255 255 255;
  --color-foreground: var(--color-neutral-900);
  --color-card: var(--color-neutral-50);
  --color-card-foreground: var(--color-neutral-900);
  --color-popover: 255 255 255;
  --color-popover-foreground: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-100);
  --color-secondary-foreground: var(--color-neutral-800);
  --color-muted: var(--color-neutral-300);
  --color-muted-foreground: var(--color-neutral-600);
  --color-accent: var(--color-neutral-100);
  --color-accent-foreground: var(--color-neutral-900);
  --color-border: var(--color-neutral-200);
  --color-input: var(--color-neutral-200);
  --color-ring: var(--color-primary-main);

  --border-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-main: var(--color-primary-300);
    --color-primary-active: var(--color-primary-400);
    --color-primary-foreground: var(--color-primary-950);

    --color-neutral-main: var(--color-neutral-300);
    --color-neutral-active: var(--color-neutral-400);
    --color-neutral-foreground: var(--color-neutral-950);

    --color-danger-main: var(--color-danger-300);
    --color-danger-active: var(--color-danger-400);
    --color-danger-foreground: var(--color-danger-950);

    --color-secondary-main: var(--color-secondary-200);
    --color-secondary-active: var(--color-secondary-300);
    --color-secondary-foreground: var(--color-secondary-950);

    --color-background: var(--color-neutral-950);
    --color-foreground: var(--color-neutral-100);
    --color-card: var(--color-neutral-900);
    --color-card-foreground: var(--color-neutral-100);
    --color-popover: var(--color-neutral-900);
    --color-popover-foreground: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-secondary-foreground: var(--color-neutral-200);
    --color-muted: var(--color-neutral-700);
    --color-muted-foreground: var(--color-neutral-400);
    --color-accent: var(--color-neutral-800);
    --color-accent-foreground: var(--color-neutral-100);
    --color-border: var(--color-neutral-800);
    --color-input: var(--color-neutral-800);
  }
}

@layer base {
  :root {
    color-scheme: light dark;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground
selection:bg-primary-500/30 selection:text-primary-950
dark:selection:text-primary-50;
  }
}
.lucide {
  @apply h-em w-em;
}
