.sharedAxis {
  position: relative;
  transition-property: width, height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.sharedAxis > * {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

/* X Axis */
.sharedAxis[data-axis='x'][data-direction='backward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-right-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='x'][data-direction='forward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-left-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='x'][data-direction='backward'] > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-right-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='x'][data-direction='forward'] > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-left-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

[dir='rtl']
  .sharedAxis[data-axis='x'][data-direction='backward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-left-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
[dir='rtl']
  .sharedAxis[data-axis='x'][data-direction='forward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-right-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
[dir='rtl']
  .sharedAxis[data-axis='x'][data-direction='backward']
  > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-left-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
[dir='rtl']
  .sharedAxis[data-axis='x'][data-direction='forward']
  > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-right-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Y Axis */
.sharedAxis[data-axis='y'][data-direction='backward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-down-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='y'][data-direction='forward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-up-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='y'][data-direction='backward'] > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-down-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='y'][data-direction='forward'] > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-up-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Z Axis */
.sharedAxis[data-axis='z'][data-direction='backward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-scaleDown-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='z'][data-direction='forward']
  > *[data-state='inactive'] {
  animation:
    sharedAxis-fade-out 90ms cubic-bezier(0.4, 0, 1, 1),
    sharedAxis-scaleUp-out 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='z'][data-direction='backward'] > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-scaleDown-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sharedAxis[data-axis='z'][data-direction='forward'] > *[data-state='active'] {
  animation:
    sharedAxis-fade-preIn 90ms,
    sharedAxis-fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms,
    sharedAxis-scaleUp-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animations */
@keyframes sharedAxis-fade-preIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes sharedAxis-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sharedAxis-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes sharedAxis-left-in {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes sharedAxis-left-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30px);
  }
}
@keyframes sharedAxis-right-in {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes sharedAxis-right-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px);
  }
}
@keyframes sharedAxis-up-in {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes sharedAxis-up-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
@keyframes sharedAxis-down-in {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes sharedAxis-down-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}
@keyframes sharedAxis-scaleUp-in {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes sharedAxis-scaleUp-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes sharedAxis-scaleDown-in {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes sharedAxis-scaleDown-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
