.slide {
  position: relative;
}
.slide > * {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.slide[data-direction='forward'] > [data-state='active'] {
  animation: slideLeftIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slide[data-direction='forward'] > [data-state='inactive'] {
  animation: slideLeftOut 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slide[data-direction='backward'] > [data-state='active'] {
  animation: slideRightIn 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slide[data-direction='backward'] > [data-state='inactive'] {
  animation: slideRightOut 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideLeftIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideLeftOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideRightIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideRightOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
